<%- include('../partials/header') %>
   <% clucks.forEach(element => {%>
    <div class="d-flex ">

    <div class="container card d-flex">
      
        <div class="col-sm-12 col-md-8">
            <div class="add-items d-flex">
                <img src='/images/thumbnail.jpeg' alt="logo" width="10%" height="auto" class="img-thumbnail m-2">
                <div>
                    <div>
                        <div class="d-flex">
                            <div class="add-items d-flex"><h2 class="mt-2 bg-white float-left"><%= element.username%></h2> <p class="mt-3 ml-2"> • &nbsp;<%=element.creatTime%></p></div>  
                    </div>
                    <div>
                    <p><%= element.content%></p>
                    <%if(element.image_url != ''){%>
                    
                    <img class="card-img-top mb-4 card-image" src="<%=element.image_url%>" alt="Card image cap">
        
                    <%}%>
                    </div>
                    </div>
                </div>  
        </div> 
    </div>
</div>
    <%})%>
      
    <%if(clucks.length===0){%>
        <h4 class="text-center">Please add new clucks to start</h4>
     <%}%>

<%- include('../partials/footer') %>
